<div class="global-controls">
    <p class="mb-2"><strong>You can make global descisions to change all habitats of a particular type.</strong></p>
    <p class="mb-2">So, when you advance time, these habitats <ng-icon name="heroArrowTurnRightDown"></ng-icon></p>
        <ul class="list-none content-stretch grid grid-cols-3 gap-0 shadow-md text-center">
            <li class="h-full p-1 py-5 rounded-l flex items-center justify-center align-text-middle bg-lime-700 text-lime-200">Semi-natural</li>
            <li class="h-full p-1 py-5 flex items-center justify-center align-text-middle bg-amber-500 text-amber-950">Agricultural</li>
            <li class="h-full p-1 py-5 rounded-r flex items-center justify-center align-text-middle bg-stone-500 text-stone-200">Urban</li>
        </ul>
    <p class="my-2">Will become <ng-icon name="heroArrowTurnRightDown"></ng-icon> (click to change)</p>
    <form [formGroup]="globalChangesForm" (submit)="submitGlobalChanges()">
        <div class="list-none content-stretch grid grid-cols-3 gap-0 shadow-md text-slate-800 text-center">
            <select formControlName="globalSeminaturalChange" class="form-select bg-none h-full p-1 py-5 rounded-l flex items-center justify-center align-text-middle bg-lime-700 text-lime-200 border-2 border-lime-700 hover:bg-lime-300 hover:border-indigo-700 hover:text-indigo-700 hover:cursor-pointer focus:bg-lime-500 focus:border-indigo-700">
                <option value="semi-nat" selected="selected" class="text-center">Semi-natural</option>
                <option value="agri" class="text-center">Agricultural</option>
                <option value="urban" class="text-center">Urban</option>
            </select>
            <select formControlName="globalAgriculturalChange" class="form-select bg-none h-full p-1 py-5 flex items-center justify-center align-text-middle bg-amber-500 text-amber-950 border-2 border-amber-500 hover:bg-amber-300 hover:border-indigo-700 hover:text-indigo-700 hover:cursor-pointer focus:bg-amber-300 focus:border-indigo-700">
                <option value="semi-nat" class="text-center">Semi-natural</option>
                <option value="agri" selected="selected" class="text-center">Agricultural</option>
                <option value="urban" class="text-center">Urban</option>
            </select>
            <select formControlName="globalUrbanChange" class="form-select bg-none h-full p-1 py-5 rounded-r flex items-center justify-center align-text-middle text-stone-200 bg-stone-500 border-2 border-stone-500 hover:bg-stone-300 hover:border-indigo-700 hover:text-indigo-700 hover:cursor-pointer focus:bg-stone-300 focus:border-indigo-700">
                <option value="semi-nat" class="text-center">Semi-natural</option>
                <option value="agri" class="text-center">Agricultural</option>
                <option value="urban" selected="selected" class="text-center">Urban</option>
            </select>                
        </div>
        <p class="my-2 text-red-500">NB: make these colours update on selection.</p>
        <div class="text-right pt-2">
            <button class="bg-slate-800 text-slate-200 hover:bg-slate-200 border-slate-800 border-2 hover:text-indigo-700 hover:border-indigo-700 hover:shadow-md rounded-lg px-2 py-1">Save descisions</button>
        </div>
    </form>
    <p class="my-5">You can also select habitat cells on the map (<ng-icon name="heroArrowLongLeft"></ng-icon>) and <strong>locally overide your global descisions</strong>.</p>
</div>
