<form class="example-form" [formGroup]="globalResponsesForm">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" animationDuration="500ms" class="h-52">
        <mat-tab labelClass="semi-natural" label="Semi-natural" isActive="true">
            <mat-slide-toggle formControlName="globalSeminaturalRestoration" aria-label="globalSeminaturalRestoration" [checked]="isGlobalSeminaturalRestorationChecked" (change)="toggleChanges($event)" class="my-2">{{ restorationLabel }}</mat-slide-toggle><br />
            <mat-slide-toggle formControlName="globalSeminaturalNatProtReg" aria-label="globalSeminaturalNatProtReg" [checked]="isGlobalSeminaturalNatProtRegChecked" (change)="toggleChanges($event)" class="my-2">{{ natureProtectionLabel }}</mat-slide-toggle>
        </mat-tab>
        <mat-tab labelClass="agricultural" label="Agricultural">
            <mat-slide-toggle formControlName="globalAgriculturalRestoration" aria-label="globalAgriculturalRestoration" [checked]="isGlobalAgriculturalRestorationChecked" (change)="toggleChanges($event)" class="my-2">{{ restorationLabel }}</mat-slide-toggle><br />
            <mat-slide-toggle formControlName="globalAgriculturalNatProtReg" aria-label="globalAgriculturalNatProtReg" [checked]="isGlobalAgriculturalNatProtRegChecked" (change)="toggleChanges($event)" class="my-2">{{ natureProtectionLabel }}</mat-slide-toggle><br />
            <mat-slide-toggle formControlName="globalAgriculturalEcoIntensification" aria-label="globalAgriculturalEcoIntensification" [checked]="isGlobalAgriculturalEcoIntensificationChecked" (change)="toggleChanges($event)" class="my-2">{{ ecoIntensificationLabel }}</mat-slide-toggle>
        </mat-tab>
        <mat-tab labelClass="urban" label="Urban">
            <mat-slide-toggle formControlName="globalUrbanRestoration" aria-label="globalUrbanRestoration" [checked]="isGlobalUrbanRestorationChecked" (change)="toggleChanges($event)" class="my-2">{{ restorationLabel }}</mat-slide-toggle><br />
            <mat-slide-toggle formControlName="globalUrbanNatProtReg" aria-label="globalUrbanNatProtReg" [checked]="isGlobalUrbanNatProtRegChecked" (change)="toggleChanges($event)" class="my-2">{{ natureProtectionLabel }}</mat-slide-toggle><br />
            <mat-slide-toggle formControlName="globalUrbanGreening" aria-label="globalUrbanGreening" [checked]="isGlobalUrbanGreeningChecked" (change)="toggleChanges($event)" class="my-2">{{ urbanGreeningLabel }}</mat-slide-toggle>
        </mat-tab>
    </mat-tab-group>
</form>
