<main class="h-full flex gap-0">
  <section class="h-full w-3/4">
    <router-outlet />
  </section>
  <section class="controls h-full w-1/4 p-10">
    <h1 class="mb-2">This game has three rounds <button (click)="openGameInfo()"><ng-icon name="heroInformationCircleSolid"></ng-icon></button></h1>
    <div class="grid grid-cols-4 gap-2 mb-5">
      <app-round-details  *ngFor="let round of roundService.roundList" [round]="round"></app-round-details>
    </div>
    @if(roundService.endRound != roundService.activeRound){
      <p class="mb-5"><strong>Your aim is to improve pollinator numbers without making people unhappy.</strong></p>
      <p class="mb-5">Your landscape (<ng-icon name="heroArrowLongLeft"></ng-icon>) is made of three habitat types. The state of wild pollinator populations and their resources is shown on every square.</p>
      <h2 class="mb-2"><strong>Current Landscape Impacts:</strong></h2>
    } @else {
      <h2 class="mb-2"><strong>Final Landscape Impacts:</strong></h2>
    }
    <div class="round-impacts mb-10">
      <app-round-impacts  *ngFor="let impact of roundService.roundImpacts" [roundImpact]="impact"></app-round-impacts>
    </div>
    @if(roundService.endRound != roundService.activeRound){
      <p class="mb-5">To change your result, you can make <strong>responses</strong> which affect all habitats of a particular type:</p>
      
      <app-global-responses />
      <p class="mt-10 hidden">You can also select habitat cells on the map (<ng-icon name="heroArrowLongLeft"></ng-icon>) and <strong>locally overide your global descisions</strong>.</p>
      <p class="text-slate-100 my-10"><strong>When you're done making descisions...</strong></p>
      <button (click)="advanceTime()" class="button px-4 pt-2 pb-4">Advance time <ng-icon name="heroArrowRight"></ng-icon></button>
      
    } @else {
      @if(roundService.scenario == 'B'){
        <a href="/B" class="button px-4 py-2">Play Again <ng-icon name="heroArrowPath"></ng-icon></a>
      } @else {
        <a href="/" class="button px-4 py-2">Play Again <ng-icon name="heroArrowPath"></ng-icon></a>
      }
    }
  </section>
</main>