<main class="h-full flex gap-0">
  <section class="h-full w-3/4">
    <app-landscape />
  </section>
  <section class="controls h-full w-1/4 p-10">
      <div class="landscape-stats mb-10">
        <h1>Your Landscape has 3 habitats</h1>
        <h2>Pollinator success:</h2>
        <p>Loading bar here.</p>
      </div>
      <div class="global-controls text-center">
        <strong>All your habitats will remain the same over time until you choose to change them.</strong>
        <p>Form here.</p>
      </div>
  </section>
</main>
<router-outlet />