<div id="habitat_{{ habitat.id }}" class="habitat-container h-full">
  <div class="habitat {{ habitat.type.active.toLowerCase() }} h-full w-full flex">
    <div class ="grow">
      <h5 class="text-xs text-black ml-2"><strong>HABITAT STATE</strong></h5>
      <div class="grow align-text-middle grid grid-cols-3 gap-2 ml-2 mr-2 h-full">
        <div class="habitat-state wildPollinators text-center align-top h-3/4">
          <div class="state-icon-container" matTooltip="{{ habitat.state?.wildPollinators }}% Wild Pollinator Abundance & Diversity" (click)="openInfo('wildPollinators')">
            <div class="state-icon-label text-center leading-none opacity-60"><strong class="text-xs text-black ml-2">WP</strong></div>
            <div class="state-icon-fill" style="height: {{habitat.state?.wildPollinators}}%"></div>
            <div class="state-icon"></div>
          </div>
        </div>
        <div class="habitat-state floralResources text-center align-top h-3/4">
          <div class="state-icon-container" matTooltip="{{ habitat.state?.floralResources }}% Floral Resources" (click)="openInfo('floralResources')">
            <div class="state-icon-label text-center leading-none opacity-60"><strong class="text-xs text-black ml-2">FR</strong></div>
            <div class="state-icon-fill" style="height: {{habitat.state?.floralResources}}%"></div>
            <div class="state-icon"></div>
          </div>
        </div>
        <div class="habitat-state habitatResources text-center align-top h-3/4">
          <div class="state-icon-container" matTooltip="{{ habitat.state?.habitatResources }}% Habitat Resources" (click)="openInfo('habitatResources')">
            <div class="state-icon-label text-center leading-none opacity-60"><strong class="text-xs text-black ml-2">HR</strong></div>
            <div class="state-icon-fill" style="height: {{habitat.state?.habitatResources}}%"></div>
            <div class="state-icon"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex-none habitat-responses text-center align-middle">
      <h5 class="text-xs text-black"><strong>RESPONSES</strong></h5>
        <app-habitat-response *ngFor="let habitatResponse of habitat.response!" [habitatResponse]="habitatResponse"></app-habitat-response>
        @if(habitat.type.hasOwnProperty('globalChange')){
          <div id="habitatChange_{{habitat.id}}" class="habitat-change {{ habitat.type.globalChange!.toLowerCase() }} text-center inline-block size-24 m-5"><span class="text-sm">{{ habitat.type.globalChange! }}</span></div>
        }
    </div>
  </div>
</div>
