<div class="landscape-stats mb-10">
    <h1>Your Landscape</h1>
    <h2>Habitat types:</h2>
    <ul class="list-none content-stretch grid grid-cols-3 gap-0 shadow-md text-slate-800 text-center">
        <li class="h-full p-1 py-5 rounded-l flex items-center justify-center align-text-middle bg-lime-700">Semi-natural</li>
        <li class="h-full p-1 py-5 flex items-center justify-center align-text-middle bg-amber-500">Agricultural</li>
        <li class="h-full p-1 py-5 rounded-r flex items-center justify-center align-text-middle bg-stone-500">Urban</li>
    </ul>
    <h2>Your score:</h2>
    <p>Needs to show sum of habitat scores.</p>
    <div class="pollinator-success shadow-md rounded bg-slate-200 border-slate-800">
        <div class="bar p-2 rounded-l-sm bg-red-500 flex w-[11%]"></div>
    </div>
</div>
